<div class="page-content">
    <div class="page-title">
        <h2>Meu perfil</h2>
    </div>

    <div class="page-card">
        <h2>Meu perfil</h2>
        
        <form action="">
            <div class="container">
                <div>
                    <label for="name">Nome:</label>
                    <input type="text" id="name" placeholder="Digite seu nome">
                </div>
        
                <div>
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" placeholder="Digite seu e-mail">
                </div>
        
                <div>
                    <label for="biogray">Biografia:</label>
                    <textarea name="biogray" id="biogray" rows="5" placeholder="Descreva você"></textarea>
                </div>
            </div>
    
            <div class="container">
                <div>
                    <p>Foto de perfil:</p>
                    <label class="upload-image" for="image">
                        <span class="material-symbols-outlined upload-icon">add_photo_alternate</span>
                    </label>
                    <input id="image" type="file" accept="image/*">
                </div>
    
                <div>
                    <label for="date">Data de nascimento:</label>
                    <input type="date">
                </div>

                <button type="submit">Salvar</button>
            </div>
        </form>

    </div>
</div>