ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: column;
    background: #EEE;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #000;
}

.menu li {
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: inherit;
}

.menu li span {
    padding-right: 1rem;
}