ul {
    list-style: none;
}

.menu {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    color: var(--fourth-color);
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.menu li {
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: inherit;
}

.menu li span {
    padding-right: 1rem;
}