ul {
    list-style: none;
}

.context-menu {
    z-index: 10;
    position: absolute;
}

.menu {
    display: flex;
    flex-direction: column;
    background: #EEE;
    padding: 2rem 0;
}

.menu li {
    border: 0;
    padding: 1rem;
    width: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;

}