@import url(assets/font/Montserrat/font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #141E32;
    --secondary-color: #50B450;
    --third-color: #000000;
    --fourth-color: #FFFFFF;
    --fifth-color: #FF0000;
    --sixth-color: #D9D9D9;
}

html {
    font-family: Montserrat;
    font-size: .75vw;
}

a {
    text-decoration: none;
    color: var(--fourth-color);
}

h4 {
    font-size: 2rem;
}

input,
textarea {
    border: 1px solid var(--sixth-color);
    outline: none;
    padding: 1rem 1.2rem;
    border-radius: .8rem;
    resize: none;
}

button {
    border: none;
    outline: none;
    background: var(--secondary-color);
    color: var(--fourth-color);
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

input:focus {
    outline: none;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.card-image {
    height: 100%;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
    z-index: -1;
}

.info {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info > p {
    width: max-content;
}

.color {
    display: flex;
    gap: .5rem;
}

.color > div {
    height: 1rem;
    width: 1rem;
    border-radius: .2rem;
}

.validity {
    align-self: flex-end;
    padding: .3rem .5rem;
    border: 1px solid var(--third-color);
    border-radius: .5rem;
}

.info,
.amount {
    border-right: 1px solid var(--third-color);
    height: 100%;
}

.amount,
.next {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.next-icon {
    font-size: 3rem;
}

.page-title h2{
    color: var(--fourth-color);
}

.page-title {
    background: var(--third-color);
    display: flex;
    align-items: end;
    width: 100%;
    padding: 0vw 3vw 2vw;
    height: 15vh;
    justify-content: space-between;
}

.page-card {
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 85vh;
    overflow: scroll;
    overflow-x: hidden;
}




.page-card > h2 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-between;
}

.container {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description {
    flex-basis: 100%;
}

.submit {
    margin-left: auto;
}

.upload-image {
    width: 100%;
    border: 1px solid var(--sixth-color);
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: .8rem;
    margin-top: .3rem;
    height: 10rem;
    justify-content: center;
}

.upload-icon {
    color: var(--sixth-color);
    font-size: 5rem;
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.sub-container > div {
    flex-basis: 48%;
}

input[type="file"] {
    display: none;
}

input[type="color"] {
    width: 5rem;
    font-size: 2rem;
    padding: .5rem;
    border-radius: 0;
    height: 3rem;
}

@media screen and (max-width:768px) {

    html {
        font-size: 12px;
    }

}

@media screen and (max-width:480px) {

    html {
        font-size: 10px;
    }

}