.card-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    margin-bottom: 3rem;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
    z-index: -1;
}

.info {
    padding: 1.5rem 1rem;
}

.color {
    display: flex;
    gap: .5rem;
}

.color > div {
    height: 1rem;
    width: 1rem;
    border-radius: .2rem;
}

.amount,
.next {
    text-align: center;
}