<section class="access">

    <img src="../../../assets/image/stock-on-left-banner.webp" alt="" class="access-banner">

    <div class="form">
        <h1>LOGIN</h1>

        <form action="/shopping-list">
            <div class="form-input">
                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="Digite seu e-mail">
                <div>
                    <p>Não possui conta? <a href="/sign-up">Cadastrar-se</a></p>
                    <label>
                        <input type="checkbox" id="keep-logged" name="keep-logged" value="keep-logged">
                        Manter logado
                    </label>
                </div>
            </div>
            
            <button type="submit">LOGIN</button>
        </form>
    </div>

</section>